<div class="">
    <div class="customer-headline">
         <img mat-card-image class="customer-headline-image" src="../../assets/group.png" alt="Customers">
         <h3 class="customer-headline-text">Customers</h3>
    </div>
    <ul class="customer-navigation">
        <li class="customer-list">
            <a mat-button routerLink='/customer/cardview'>
                <mat-icon class='customer-icon' aria-hidden="false">dashboard</mat-icon>Card View
            </a>
            <a mat-button routerLink='/customer/listview'>
                <mat-icon class='customer-icon' aria-hidden="false">list</mat-icon>List View
            </a>
            <a mat-button routerLink='/customers/newcustomer'>
                <mat-icon class='customer-icon' aria-hidden="false">add_circle</mat-icon>New Customer
            </a>
        </li>
    </ul>
</div>