<div class="toolbarParent">
    <mat-toolbar>
        <div class="left-side">
            <img class="users" src="assets/svg/multiple-users.svg">
           <a mat-button routerLink='/'>
            <span>Customer Manager</span>
           </a> 
        </div>
        <div class="linkovi">
            <!-- Ubaciti ovo u listu -->
            <ul class="lista">
                <li><a mat-button routerLink='/customers' routerLinkActive="router-link-active" >Customers</a><a mat-button routerLink='/about'>About</a></li>
            </ul>
        </div>
    </mat-toolbar>
</div>