<div class="card-body">
    <mat-card class="example-card" *ngFor="let customer of listaCustomera">
        <mat-card-header>
          <mat-card-title>{{customer.title}}</mat-card-title>
        </mat-card-header>
        <div class="card-content">
            <div class="image-place"><img mat-card-image src="../../assets/maleavatar.jpg" alt="Photo of a Shiba Inu"></div>
            <div class="card-details"><p>{{customer.city}}</p><a href="#">View Orders</a></div>
        </div>
      </mat-card>
</div>