<div class="pimg1">
    <div class="ptext">
        <span class="border">
            ABOUT US

        </span>
    </div>
</div>
<section class="section section-light">
    <h2>About Customer Management Service</h2>
   <p> Customer Management Service provides high quality management this is some dummy text i have no inspiration right now consectetur adipisicing elit. Blanditiis quasi 
    asperiores culpa amet praesentium expedita quis sequi veniam omnis dolore doloremque 
    laudantium odio quia, cupiditate sit, optio similique. Nesciunt iusto alias perspiciatis doloribus? 
    Aliquam magnam eveniet nemo voluptatum nostrum necessitatibus eaque quia minima delectus, distinctio aut totam unde natus, 
    alias fuga explicabo est labore ea omnis! At quam odit libero voluptate deserunt recusandae optio esse dicta 
    commodi rerum tempore quas velit perferendis ducimus laborum maxime provident, aspernatur blanditiis quisquam alias 
    explicabo nisi cum dolores consequuntur. 
    Corporis eveniet officiis praesentium nobis neque odit harum, rerum sunt repellendus eos eaque aperiam non.</p>
</section>
<div class="pimg2">
    <div class="ptext">
        <span class="border2">
            CONTACT US

        </span>
    </div>
</div>